.form-container {
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 2% 0 2% 2%;
    margin-top: 2%;
    min-height: 100vh;
    height: auto; /* Ensures the container grows with the content */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

 .toolsForm {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));

    .col-md-6{
        height: 7%;
        width: 35%;
        display: block;
        margin: 0px 20px 0px 20px;
        
        .form-label{
            margin-right: 10px;
            width: 55%;
        }

        .form-control{
            width: 100%;;
        }
    }

    .checkbox-area{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: 20px;

        .labl-inp{
            margin-bottom: 20px;

            input{
                margin-right: 20px;
            }
        }
    }

    button[type="submit"]{
        background-color: #0074CC;

        &:hover{
            background-color: #004e8a;
        }
    }

 }


/*  label,

    input,
    select,
    button {
        display: block;
        margin-bottom: 10px;
    }

    input[type="text"],
    select {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
    }

    button {
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }
} */


/* results */
.analysisCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 2% 2.5% 2% 2%;
    margin: 2%;
    height: 80%;
    justify-content: space-between;
    height: auto;
    box-sizing: border-box;

    .text-color-bg{
        color: #fff;
        background-color: #0074CC;
    }

    .card-body{
        button[type="submit"]{
            background-color: #0074CC;
    
            &:hover{
                background-color: #004e8a;
            }
        }
    }
}